{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://cloud.githubusercontent.com/assets/877919/14067805/7e3ff5ae-f476-11e5-88eb-059d88816232.png" />
  <meta property="og:title" content="openAfrica" />
  <meta property="og:url" content="https://africaopendata.org/" />
  <meta property="fb:app_id" content="835169686614108" />
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/openafrica_theme.css" />
{% endblock %}
