{% trans %}
<p>Esto es un esfuerzo encabezado por <a href="http://codeandomexico.org/" target="_blank">Codeando M&eacute;xico</a> para abrir datos en nuestro pa&iacute;s.</p>

<p>Creemos que una plataforma impulsada por la sociedad civil tendr&aacute; mayor
riqueza que una administrada por gobierno, ya que invitamos a toda la comunidad interesada en
<a href="http://opendatahandbook.org/es/what-is-open-data/" target="_blank">datos abiertos</a>
para que se vuelvan agentes activos en la generaci&oacute;n, validaci&oacute;n y consumo de
estos datos.</p>

<p>Cabe recalcar que la tecnolog&iacute;a detr&aacute;s de esta plataforma se mantiene gracias
a las miles de horas de programaci&oacute;n dedicadas al proyecto de c&oacute;digo abierto CKAN,
una herramienta utilizada por gobiernos de todo el mundo y mantenida por The Open Knowledge Foundation.</p>

<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
The Open Knowledge Foundation: <a href="http://okfn.org/">http://okfg.org/</a><br />
Codeando M&eacute;xico: <a href="http://codeandomexico.org/">http://codeandomexico.org/</a></p>
{% endtrans %}
